{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="subpage-head has-margin-bottom">
  <div class="container">
    <h3>{% trans "Our Blog" %}</h3>
    <p class="lead">{% trans "Articles and latest bulletins related to our church" %}</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9 has-margin-bottom">
      {% if current_author or current_tag %}
        <div class="has-margin-bottom">
        {% if current_tag %}
            <h5>{% trans "Tag: " %}{{ current_tag }}</h5>
        {% endif %}
        {% if current_author %}
            <h5>{% trans "Author: " %}{{ current_author.first_name }} {{ current_author.last_name }}</h5>
        {% endif %}
        <a href="/{{ LC }}/blog/">{% trans "Show all posts" %}</a>
        </div>
      {% endif %}
      {% for post in posts %}

        <div class="row has-margin-bottom">
          <div class="col-md-4 col-sm-4"> <img class="img-responsive center-block" src="{{ post.image }}" alt="bulletin blog"> </div>
          <div class="col-md-8 col-sm-8 bulletin">
            <h4 class="media-heading">{{post.post.title}} </h4>
            <p>{% trans 'on ' %}{{ post.post.ctime | date:"d F Y"}} {% trans 'by' %} {{ post.author }}</p>
            <p>{% autoescape off %}{{ post.safe_text | truncatechars:140 }}{% endautoescape %}</p>
            <a class="btn btn-primary" href="/{{ LC }}/blog/{{ post.post.id }}/" role="button">{% trans "Read Article" %} →</a> </div>
        </div>
        {% if not forloop.last %}
          <hr>
        {% endif %}
      {% endfor %}

      <!-- PAGINATION -->
      <div class="text-center center-block">
        <ul class="pagination">
          {% if handler.has_previous %}
            <li><a href="/{{ LC }}/blog/?page={{ handler.previous_page_number }}&tag={{ current_tag }}&author={{ author_pk }}">«</a></li>
          {% else %}
            <li class="disabled"><a href="#">«</a></li>
          {% endif %}

          {% for page in pages %}
            {% if page == handler.number %}
              <li class="active"><a href="/{{ LC }}/events/?page={{ page }}&tag={{ current_tag }}&author={{ author_pk }}">{{ page }}</a></li>
            {% else %}
             <li><a href="/{{ LC }}/blog/?page={{ page }}&tag={{ current_tag }}&author={{ author_pk }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}

          {% if handler.has_next %}
            <li><a href="/{{ LC }}/blog/?page={{ handler.next_page_number }}&tag={{ current_tag }}&author={{ author_pk }}">»</a></li>
          {% else %}
            <li class="disabled"><a href="#">»</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    <!--// col md 9-->

    <!--Sidebar-->
    <div class="col-md-3">
      <span class="tag-section-title">{% trans 'Authors' %}</span>
      <div class="tag-cloud has-margin-bottom blog-tag">
        {% for author in authors %}
          <a href="/{{ LC }}/blog/?author={{ author.pk }}">{{ author.first_name }} {{ author.last_name }}</a>
        {% endfor %} </div>
      <span class="tag-section-title">{% trans 'Tags' %}</span>
      <div class="tag-cloud has-margin-bottom blog-tag">
        {% for tag in tags %}
          <a href="/{{ LC }}/blog/?tag={{ tag }}">{{ tag }}</a>
        {% endfor %} </div>
      </div>
  </div>
</div>
{% endblock %}
