{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="subpage-head has-margin-bottom">
  <div class="container">
    <h3>{% trans 'Contact us' %}</h3>
    <p class="lead">{% trans 'Our Church address and contact details' %}</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 has-margin-bottom">
      <h5>{% trans 'OUR ADDRESS' %}</h5>
      <div class="row">
        <div class="col-lg-6">{{ item.address_prefix }}{{ item.readable_address }}</div>
        <div class="col-lg-6">{% trans 'Phone' %}: {{ item.phone }}<br>
          {% trans 'Email' %}: <a href="mailto:{{ item.email }}" target="_top">{{ item.email }}</a></div>
      </div>
    </div>
  </div>
</div>
<div class="location-map">
 <iframe
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/search?key={{ maps_api }}&q={{ item.readable_address }}">
</iframe>
</div>
{% endblock %}