{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="subpage-head has-margin-bottom">
  <div class="container">
    <h3>{% trans 'Contact us' %}</h3>
    <p class="lead">{% trans 'Our Church address and contact details' %}</p>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-6 has-margin-bottom">
        {% autoescape off %}{{ item.text }}{% endautoescape %}
      </div>
  </div>
</div>
<div class="location-map">
 <iframe
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/search?key={{ maps_api }}&q={{ item.address }}">
</iframe>
</div>
{% endblock %}
