{% load staticfiles %}
{% load i18n %}

<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <h5>{% trans 'ABOUT THE CHURCH' %}</h5>
        <p>{{ footer.about_text }}</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <h5>{% trans 'QUICK LINKS' %}</h5>
        <ul class="footer-links">
          <li><a href="/events/">{% trans 'Events' %}</a></li>
          <li><a href="{{ bulletin.src }}" target="_blank">{% trans 'Latest bulletin' %}</a></li>
          <li><a href="/contact/">{% trans 'Contact us' %}</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h5>{% trans 'OUR ADDRESS' %}</h5>
        <p> {{ footer.address }}
          <br>
          {% trans 'Phone' %}: {{ footer.phone }}<br>
          Email: {{ footer.email }}</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <h5>{% trans 'CONNECT' %}</h5>
        <div class="social-icons"><a href="{{ footer.facebook_link }}"><img src="{% static 'images/fb-icon.png' %}" alt="social"></a></div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <p class="text-center">Copyright © 2015 All rights reserved</p>
    </div>
  </div>
</footer>
<!-- // END FOOTER --> 
