{% load i18n %}
{% load staticfiles %}
{% get_current_language as LC %}

<!-- Navigation Bar Starts -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/"> <img src="{% static 'images/church-logo.png' %}" alt="church logo" class="img-responsive"></a> </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          {% if menu.about %}
            {% if menu.about|length > 1 %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% trans "ABOUT" %}<span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-left" role="menu">
                {% for item in menu.about %}
                  <li><a href="/{{ LC }}{% trans '/about/' %}{{ item.slug }}">{{ item.title }}</a></li>
                {% endfor %}
              </ul>
            {% else %}
              <a href="/{{ LC }}{% trans '/about/' %}{{ menu.about.0.slug }}">{% trans "ABOUT" %}</a>
            {% endif %}           
          {% endif %}
        </li>
        {% if menu.ministries %}
          <li>
            {% if menu.ministries|length > 1 %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% trans "MINISTRIES" %}<span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-left" role="menu">
                {% for item in menu.ministries %}
                  <li><a href="/{{ LC }}{% trans '/ministry/' %}{{ item.slug }}">{{ item.title }}</a></li>
                {% endfor %}
              </ul>
            {% else %}
              <a href="/{{ LC }}{% trans '/ministry/' %}{{ menu.ministries.0.slug }}">{{ menu.ministries.0.title }}</a>
            {% endif %}
          </li>
        {% endif %}
        {% if menu.projects %}
          <li>
            {% if menu.projects|length > 1 %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% trans "PROJECTS" %}<span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-left" role="menu">
                {% for item in menu.projects %}
                  <li><a href="/{{ LC }}{% trans '/project/' %}{{ item.slug }}">{{ item.title }}</a></li>
                {% endfor %}
              </ul>
            {% else %}
              <a href="/{{ LC }}{% trans '/project/' %}{{ menu.projects.0.slug }}">{{ menu.projects.0.title }}</a>
            {% endif %}
          </li>
        {% endif %}
          {% if menu.courses %}
          <li>
            {% if menu.courses|length > 1 %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% trans "COURSES" %}<span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-left" role="menu">
                {% for item in menu.courses %}
                  <li><a href="/{{ LC }}{% trans '/course/' %}{{ item.slug }}">{{ item.title }}</a></li>
                {% endfor %}
              </ul>
            {% else %}
              <a href="/{{ LC }}{% trans '/course/' %}{{ menu.courses.0.slug }}">{{ menu.courses.0.title }}</a>
            {% endif %}
          </li>
        {% endif %}
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">PAGES <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-left" role="menu">
            <li><a href="image-gallery.html">Image Gallery</a></li>
            <li><a href="video-gallery.html">Video Gallery</a></li>
            <li><a href="blog.html">Blog list</a></li>
            <li><a href="blog-single.html">Blog Single</a></li>
            <li><a href="events-programs.html">Events &amp; Programs</a></li>
            <li><a href="event-single.html">Event Single</a></li>
            <li><a href="event-calendar.html">Event Calendar</a></li>
            <li><a href="charity-donation.html">Charity &amp; Donations</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">OTHER PAGES</li>
            <li><a href="prayers.html">Prayers</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="shortcodes.html">Shortcodes</a></li>
            <li><a href="full-width.html">Full Width</a></li>
            <li><a href="left-sidebar.html">Left Sidebar</a></li>
            <li><a href="http://bit.ly/BuyCatholic">Buy this Template</a></li>
          </ul>
        </li>
        <li><a href="contact.html">CONTACT</a></li>
      </ul>
    </div>
    <!--/.nav-collapse --> 
    
  </div>
</div>
<!--// Navbar Ends--> 