{% load i18n %}
{% load staticfiles %}
{% get_current_language as LC %}
{% get_available_languages as LANGUAGES %}

<!-- Navigation Bar Starts -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/{{ LC }}/"> <img src="{% static 'images/church-logo.png' %}" alt="church logo" class="img-responsive"></a> </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="{% if current == 'about' %}active{% endif %}">
          {% if menu.about %}
            {% if menu.about|length > 1 %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% trans "ABOUT" %}<span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-left" role="menu">
                {% for item in menu.about %}
                  <li><a href="/{{ LC }}{% trans '/about/' %}{{ item.slug }}">{{ item.title }}</a></li>
                {% endfor %}
              </ul>
            {% else %}
              <a href="/{{ LC }}{% trans '/about/' %}{{ menu.about.0.slug }}">{% trans "ABOUT" %}</a>
            {% endif %}
          {% endif %}
        </li>
        {% if menu.ministries %}
          <li class="{% if current == 'ministries' %}active{% endif %}">
            {% if menu.ministries|length > 1 %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% trans "MINISTRY" %}<span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-left" role="menu">
                {% for item in menu.ministries %}
                  <li><a href="/{{ LC }}{% trans '/ministry/' %}{{ item.slug }}">{{ item.title }}</a></li>
                {% endfor %}
              </ul>
            {% else %}
              <a href="/{{ LC }}{% trans '/ministry/' %}{{ menu.ministries.0.slug }}">{% trans "MINISTRY" %}</a>
            {% endif %}
          </li>
        {% endif %}
        {% if menu.projects %}
          <li class="{% if current == 'projects' %}active{% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {% trans "PROJECT" %}<span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-left" role="menu">
              {% for item in menu.projects %}
                <li><a href="/{{ LC }}{% trans '/project/' %}{{ item.slug }}">{{ item.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endif %}
        {% if menu.courses %}
          <li class="{% if current == 'courses' %}active{% endif %}">
            {% if menu.courses|length > 1 %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% trans "COURSE" %}<span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-left" role="menu">
                {% for item in menu.courses %}
                  <li><a href="/{{ LC }}{% trans '/course/' %}{{ item.slug }}">{{ item.title }}</a></li>
                {% endfor %}
              </ul>
            {% else %}
              <a href="/{{ LC }}{% trans '/course/' %}{{ menu.courses.0.slug }}">{% trans "COURSE" %}</a>
            {% endif %}
          </li>
        {% endif %}
        <li class="{% if current == 'resources' %}active{% endif %}">
          <a href="/{{ LC }}/resources">{% trans "RESOURCES" %}</a>
        </li>
        {% if menu.blog %}
          <li class="{% if current == 'blog'%}active{% endif %}"><a href="/{{ LC }}/blog/">{% trans "BLOG" %}</a></li>
        {% endif %}
        <li class="{% if current == 'events' %}active{% endif %}"><a href="/{{ LC }}/events/">{% trans "EVENTS" %}</a></li>
        <li class="{% if current == 'contact' %}active{% endif %}"><a href="/{{ LC }}/contact/">{% trans "CONTACT" %}</a></li>
        {% if LANGUAGES.0.0 == LC %}
          {% with LANGUAGES.1 as lang %}
            <li><a href="/{{ lang.0 }}{{ request.path|slice:'3:' }}">{{ lang.0|language_name_local }}</a></li>
          {% endwith %}
        {% else %}
          {% with LANGUAGES.0 as lang %}
            <li><a href="/{{ lang.0 }}{{ request.path|slice:'3:' }}">{{ lang.0|language_name_local }}</a></li>
          {% endwith %}
        {% endif %}
      </ul>
    </div>
    <!--/.nav-collapse -->

  </div>
</div>
<!--// Navbar Ends-->
