{% load i18n %}
{% load staticfiles %}
{% get_current_language as LC %}

<!-- Navigation Bar Starts -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/"> <img src="{% static 'images/church-logo.png' %}" alt="church logo" class="img-responsive"></a> </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="{% if current == 'about' %}active{% endif %}">
          {% if menu.about %}
            {% if menu.about|length > 1 %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% trans "ABOUT" %}<span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-left" role="menu">
                {% for item in menu.about %}
                  <li><a href="/{{ LC }}{% trans '/about/' %}{{ item.slug }}">{{ item.title }}</a></li>
                {% endfor %}
              </ul>
            {% else %}
              <a href="/{{ LC }}{% trans '/about/' %}{{ menu.about.0.slug }}">{% trans "ABOUT" %}</a>
            {% endif %}           
          {% endif %}
        </li>
        {% if menu.ministries %}
          <li class="{% if current == 'ministries' %}active{% endif %}"> 
            {% if menu.ministries|length > 1 %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% trans "MINISTRIES" %}<span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-left" role="menu">
                {% for item in menu.ministries %}
                  <li><a href="/{{ LC }}{% trans '/ministry/' %}{{ item.slug }}">{{ item.title }}</a></li>
                {% endfor %}
              </ul>
            {% else %}
              <a href="/{{ LC }}{% trans '/ministry/' %}{{ menu.ministries.0.slug }}">{% trans "MINISTRIES" %}</a>
            {% endif %}
          </li>
        {% endif %}
        {% if menu.projects %}
          <li class="{% if current == 'projects' %}active{% endif %}">
            {% if menu.projects|length > 1 %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% trans "PROJECTS" %}<span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-left" role="menu">
                {% for item in menu.projects %}
                  <li><a href="/{{ LC }}{% trans '/project/' %}{{ item.slug }}">{{ item.title }}</a></li>
                {% endfor %}
              </ul>
            {% else %}
              <a href="/{{ LC }}{% trans '/project/' %}{{ menu.projects.0.slug }}">{% trans "PROJECTS" %}</a>
            {% endif %}
          </li>
        {% endif %}
          {% if menu.courses %}
          <li class="{% if current == 'courses' %}active{% endif %}">
            {% if menu.courses|length > 1 %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% trans "COURSES" %}<span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-left" role="menu">
                {% for item in menu.courses %}
                  <li><a href="/{{ LC }}{% trans '/course/' %}{{ item.slug }}">{{ item.title }}</a></li>
                {% endfor %}
              </ul>
            {% else %}
              <a href="/{{ LC }}{% trans '/course/' %}{{ menu.courses.0.slug }}">{% trans "COURSES" %}</a>
            {% endif %}
          </li>
        {% endif %}
     
        <li class="{% if current == 'events' %}active{% endif %}"><a href="/{{ LC }}/events/">{% trans "EVENTS" %}</a></li>
      </ul>
    </div>
    <!--/.nav-collapse --> 
    
  </div>
</div>
<!--// Navbar Ends--> 