{% extends 'base.html' %}
{% load i18n %}

{% block content %}

{% include 'slider.html' %}
{% include 'bulletin.html' %}
<div class="container">
	<div class="container">
	  <div class="row feature-block">
	    <div class="col-md-12 col-sm-12 has-margin-bottom index-external-link"> 
	      <a href="http://www.facebook.com/voxboxkrakow" target="_blank">
	      	<div class="image-wrapper">
	      		<img class="img-responsive" src="/static/images/voxbox.png" alt="VoxBox logo" width="160" height="160" />
	      	</div>
	      </a>
	      <h5>{% trans "VoxBox Education Center" %}<br></h5>
	      <p style="width: 50%;margin: 0 auto">{% blocktrans %}The aim of VoxBox Kraków is to provide an English-based
	        experience to people who want to learn. VoxBox teaches
	        by themes, with a new theme every week. {% endblocktrans %}</p>
	    </div>
	   
	  </div>
	</div>
</div>

{% endblock %}