{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="subpage-head has-margin-bottom">
  <div class="container">
    <h3>{% trans "Resources" %}</h3>
    <p class="lead">{% trans "Materials to download" %}</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 has-margin-bottom">
        {% if resources %}
            {% for resource in resources %}
               {% if resource.category %}
                    <h4>{{ resource.category }}</h4>
               {% endif %}
                <ul>
                    {% for item in resource.items %}
                        {% if item.formats|length == 1 %}
                            <li><a href="{{ item.formats.0.link}}" target="_blank">{{ item.title }}</a></li>
                        {% else %}
                        <li>{{ item.title }}
                            {% for file_format in item.formats %}
                                <a href="{{ file_format.link }}" target="_blank">{{ file_format.file_format }}</a>
                            {% endfor %}
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
        {% else %}
           <h4>{% trans "No resources yet..." %}</h4>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}
