{% if carousel_images %}
<!-- BANNER SLIDER
    ================================================== -->

<div id="myCarousel" class="carousel slide" data-ride="carousel"> 
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for image in carousel_images %}
      {% if forloop.counter0 == 0 %}
        <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
      {% else %}
        <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
      {% endif %}
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for image in carousel_images %}
      <div class="item {% if forloop.counter0 == 0 %} active {% endif %}"
           style="background: url({{image.image}}) no-repeat; background-size: cover;">
        <div class="container">
          <div class="carousel-caption">
            <h2>{{ image.title }}</h2>
            <p class="lead">{{ image.long_text }}</p>
            {% if image.link %}
              <p><a class="btn btn-lg btn-primary" href="{{ image.link }}" 
                    target="{{ image.link_mode }}" 
                    role="button">{{ image.link_text }}</a></p>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> </div>
<!-- // Banner Slider --> 
{% endif %}